<div class="well sidebar-nav text-muted">
  <ul class="nav">
    <li><i class="glyphicon glyphicon-star"></i> Starred</li>
    <li>
      <ul class="nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
    <li style="margin-top:1rem"><i class="glyphicon glyphicon-time"></i> Searched</li>
    <li>
      <ul class="nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-star"></i> Manage Starred</h4>
    <p class="list-group-item-text text-muted">View and edit starred items.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-search"></i> Search History</h4>
    <p class="list-group-item-text text-muted">View and reset search history.</p>
  </a>
</div>
