<div class="well sidebar-nav text-muted">
  <ul class="nav">
    <li style="margin-top:1rem"><i class="glyphicon glyphicon-search"></i> Searches</li>
    <li>
      <ul class="nav">
        <li class="active"><a href="#" class="text-muted">Goose Island Brewing</a></li>
        <li><a href="#" class="text-muted">Double Imperial Stout</a></li>
        <li><a href="#" class="text-muted">Maibock</a></li>
        <li><a href="#" class="text-muted">Founders Doom</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="list-group">
  <a href="#" class="list-group-item" data-toggle="popover" data-content="Sorry. This feature isn't quite ready yet." data-container="body">
    <h4 class="list-group-item-heading"><nobr><i class="glyphicon glyphicon-search"></i> Clear search</nobr></h4>
    <p class="list-group-item-text text-muted">Forget the past.</p>
  </a>
</div>
