<div class="well sidebar-nav text-muted">
  <ul class="nav">
    <li>Toolbar</li>
    <li><hr><i class="glyphicon glyphicon-time"></i> Searches</li>
    <li class="active"><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><hr><i class="glyphicon glyphicon-star"></i> Starred</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div>