<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Hopstop <i class="glyphicon glyphicon-leaf"></i></a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a>
      <li><a href="https://github.com/jhabdas/hopstop">Fork</a>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Beer search" autofocus pattern="\w{2,}(?.+)$" title="Search for a beer by keywords consisting of two or more characters.">
      </div>
      <button type="submit" class="btn btn-default">Go!</button>
    </form>
    {{!-- <p class="navbar-text pull-right">Last search: <a href="#" class="navbar-link">Zombie</a></p> --}}
  </div>
</div>