<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation"></nav>

<div class="container outer-container">
  <div class="page-container" id="page-container"></div>
</div>

<footer class="text-center"><p><span class="badge">Hopped up</span> with <a href="https://untappd.com">Untappd</a></p></footer>
