<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation"></nav>

<div class="container">
  <div class="row">
    <p class="col-xs-12 visible-xs container">
      <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="offcanvas">Toolbar</button>
    </p>
  </div>
  <div class="row row-offcanvas row-offcanvas-right">
    <section id="content" class="col-xs-12 col-sm-9" role="main"></section>
    <aside id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation"></aside>
  </div>
</div>

<footer class="text-center" role="contentinfo"><p><span class="badge">Hopped up</span> with <a href="https://untappd.com">Untappd</a></p></footer>
