@import 'nib'

.beer
  .accordion-toggle
    text-decoration: none
    background-color: rgba(238, 238, 238, 0.15)
    &:hover
      background-color: rgba(238, 238, 238, 0.5)
  .img-thumbnail
    height: 100px
    width: 100px
    &.pull-right
      margin: 0 0 0.5rem 1rem
  .panel-body
    .dl-horizontal
      overflow: hidden
      dd
        margin-bottom 0.5rem