@import 'nib'

.header
  .navbar-search
    .search-query
      font-size: 16px // Bootstrap override to prevent input zoom on iPhone
      line-height: inherit; // And make the Search placeholder text look more gooder
